* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Verdana, sans-serif;
    background-color: grey;
    color: black;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.15rem solid black;
    margin-bottom: 1rem;
    text-decoration: none;
    color: black;
    background-color: gray;
}
  
.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.dark-mode {
    background-color: black;
    color: white;
}

.bigger{
    font-size: 24px;
}